# Ignore Gradle project-specific cache directory

.gradle
.nb-gradle

# Ignore Gradle build output directory

build

# Ignore bin folder

bin

# Ignore Eclipse settings

.settings

# Ignore database

ReadingTipLibrary/readingtip.db
